<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>About - CustomRise App</title>
	<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="navigation">
				<div class="infos">
					<a href="../views/index.html">Cart</a> <a href="../views/index.html">0 items</a>
				</div>
				<div>
					<a href="../views/index.html">Login</a> <a href="../views/index.html">Register</a>
				</div>
				<ul id="primary">
					<li>
						<a href="../views/index.html"><span>Home</span></a>
					</li>
					<li class="selected">
						<a href="../views/about.html"><span>About</span></a>
					</li>
					<li>
						<a href="../views/manufacturer.html"><span>Manufacturer</span></a>
					</li>
				</ul>
				<ul id="secondary">
					<li>
						<a href="../views/buyer.html"><span>Buyer</span></a>
					</li>
					<li>
						<a href="../views/quote.html"><span>Quote</span></a>
					</li>
					<li>
						<a href="../views/contact.html"><span>Contact</span></a>
					</li>
				</ul>
			</div>
			<a href="../views/index.html" id="logo"><img src="../public/assets/images/risingbird_360.png" alt="LOGO"></a>
		</div>
	</div>
	<div id="body">
		<div id="contents">
			<h1>About</h1>
			<div id="sidebar">
				<h4>Our Service inluded.</h4>
				<ul id="about-list">
					<li>
						<a href="../views/about.html">Manufacturer production information</a>
					</li>
					<li>
						<a href="../views/about.html">QC-quanlity control service</a>
					</li>
					<li>
						<a href="../views/about.html">logistic service</a>
					</li>
					<li>
						<a href="../views/about.html">best quotation</a>
					</li>
					<li>
						<a href="../views/about.html">Ut dolor sed ut tellus</a>
					</li>
					<li>
						<a href="../views/about.html">Eu lacus cursus</a>
					</li>
					<li>
						<a href="../views/about.html">Donec malesuada tincidunt</a>
					</li>
					<li>
						<a href="../views/about.html">Vehicula integer</a>
					</li>
					<li>
						<a href="../views/about.html">Ornare orci ut</a>
					</li>
					<li>
						<a href="../views/about.html">Tincidunt fermentum</a>
					</li>
					<li>
						<a href="../views/about.html">Metus enim</a>
					</li>
				</ul>
			</div>
			<div id="main">
				<h4>Who are we?</h4>
				<p>
					Who are we? We foster the connection and the evolution of unique creation between manufactures and individuals / small business owners. Across the World we make Custom Manufacturing RISE.
				</p>
				<h4>to Manufacturer</h4>
				<p>
					Be the wind beneath the wings of creation.  CustomRize Manufactures open up business opportunities by allowing the public to interact directly with Manufacturers to create specialty and varies quantity projects. This fosters creation at a new level and increased revenue for Manufacturers
				</p>
				<h4>Be Part of Our Community</h4>
				<p>
					If you&acute;re experiencing issues and concerns about our App and meet other people in the community who share the same interests with you.
				</p>
				<h4>App details</h4>
				<p>
					1st version <br>
					Code version 1
				</p>
				<p>
					App details, discussion and updates for this App...
				</p>
				<p>
					App was created by Jasmine, Steven, and Paul.
				</p>
				<p>
					Please feel free contact us further more details.
				</p>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="background">
			<div class="body">
				<div class="subscribe">
					<h3>Get Weekly Newsletter</h3>
					<form action="index.html" method="post">
						<input type="text" value="" class="txtfield">
						<input type="submit" value="" class="button">
					</form>
				</div>
				<div class="posts">
					<h3>Latest Post</h3>
					<p>
						"This app is the best App I had!" <br> Paul - NYC <a href="#header">...</a> <span>7/16/2016</span>
					</p>
				</div>
				<div class="connect">
					<h3>Follow Us:</h3>
					<a href="https://www.facebook.com/paul.jin.3950/" target="_blank" class="facebook"></a> <a href="https://twitter.com/pauljin4444/" target="_blank" class="twitter"></a>  
					<!-- <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a> -->
				</div>
			</div>
		</div>
		<span id="footnote"> <a href="../views/index.html">customRise</a> &copy; 2016 | All Rights Reserved.</span>
	</div>
</body>
</html>