<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - CustomRise App</title>
	<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div id="navigation">
				<div class="infos">
					<a href="../views/index.html">Cart</a> <a href="../views/index.html">0 items</a>
				</div>
				<div>
					<a href="../views/index.html">Login</a> <a href="../views/index.html">Register</a>
				</div>
				<ul id="primary">
					<li>
						<a href="../views/index.html"><span>Home</span></a>
					</li>
					<li>
						<a href="../views/about.html"><span>About</span></a>
					</li>
					<li>
						<a href="../views/manufacturer.html"><span>Manufacturer</span></a>
					</li>
				</ul>
				<ul id="secondary">
					<li>
						<a href="../views/buyer.html"><span>Buyer</span></a>
					</li>
					<li>
						<a href="../views/quote.html"><span>Quote</span></a>
					</li>
					<li class="selected">
						<a href="../views/contact.html"><span>Contact</span></a>
					</li>
				</ul>
			</div>
			<a href="index.html" id="logo"><img src="../public/assets/images/risingbird_360.png" alt="LOGO"></a>
		</div>
	</div>
	<div id="body">
		<div id="contents">
			<h1>Contact</h1>
			<div id="sidebar">
				<h4>Contact Information</h4>
				<ul class="contacts">
					<li>
						<span>Address:</span>
						<a href="http://www.customRise.com/contact">
							123 Jersey City Street, Jersey City, NJ 10001
						</a>
					</li>
					<li>
						<span>Phone Number:</span>
						<a href="http://www.customRise.com/contact" class="num">
							1-800-111-1111 or 1-888-888-8888
						</a>
					</li>
					<li>
						<span>Fax Number:</span>
						<a href="http://www.customRise.com/contact" class="num">
							1-800-222-2222
						</a>
					</li>
				</ul>
			</div>
			<div id="main">
				<h4 class="uppercase">Get in touch with us</h4>
				<form action="index.html" method="post" id="contacts">
					<table>
						<tbody>
							<tr>
								<td><label>Name:</label></td>
								<td><input type="text" value=""></td>
							</tr> <tr>
								<td><label>Email Address:</label></td>
								<td><input type="text" value=""></td>
							</tr> <tr>
								<td><label>Phone:</label></td>
								<td><input type="text" value=""></td>
							</tr> <tr>
								<td><label>Message:</label></td>
								<td><textarea></textarea></td>
							</tr> <tr>
								<td colspan="2"><input type="submit" value="" class="button"></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="background">
			<div class="body">
				<div class="subscribe">
					<h3>Get Weekly Newsletter</h3>
					<form action="index.html" method="post">
						<input type="text" value="" class="txtfield">
						<input type="submit" value="" class="button">
					</form>
				</div>
				<div class="posts">
					<h3>Latest Post</h3>
					<p>
						Integer sit amet erat at nulla sodales fermentum vel quis mi. <br> Morbi bibendum <a href="#header">...</a> <span>7/16/2016</span>
					</p>
				</div>
				<div class="connect">
					<h3>Follow Us:</h3>
					<a href="https://www.facebook.com/paul.jin.3950/" target="_blank" class="facebook"></a> <a href="https://twitter.com/pauljin4444/" target="_blank" class="twitter"></a> 
					<!-- <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a> -->
				</div>
			</div>
		</div>
		<span id="footnote"> <a href="../views/index.html">CustomRise</a> &copy; 2016 | All Rights Reserved.</span>
	</div>
</body>
</html>