<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<title>CustomRise App</title>
	<link rel="stylesheet" href="../public/assets/css/style.css" type="text/css" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<!-- <div class="page-header">
  <h1>title<small>subtext</small></h1>
</div> -->
	<div id="header">
		<div>
			<div id="navigation">
				<div class="infos">
					<a href="../views/index.html">Cart</a> <a href="/views/index.html">0 items</a>
				</div>
				<div>
					<a href="/views/index.html">Login</a> <a href="../views/index.html">Register</a>
				</div>
				<ul id="primary">
					<li class="selected">
						<a href="../views/index.html"><span>Home</span></a>
					</li>
					<li>
						<a href="../views/about.html"><span>About</span></a>
					</li>
					<li>
						<a href="../views/manufacturer.html"><span>Manufacturer</span></a>
					</li>
				</ul>
				<ul id="secondary">
					<li>
						<a href="../views/buyer.html"><span>Buyer</span></a>
					</li>
					<li>
						<a href="../views/quote.html"><span>Quote</span></a>
					</li>
					<li>
						<a href="../views/contact.html"><span>Contact</span></a>
					</li>
				</ul>
			</div>
			<a href="../public/assets/index.html" id="logo"><img src="../public/assets/images/risingbird_360.png" alt="LOGO"></a>
		</div>
	</div>



	<div id="adbox">
		<h1>New Register Manufacturers in July!</h1>
		<ul>
			<li>
				<a href=""><img src="../public/assets/images/cityhunter.jpg"  width="288" height="399" alt="img"></a>
			</li>
			<li>
				<a href=""><img src="../public/assets/images/project2.jpg"  width="288" height="399" alt="img"></a>
			</li>
			<li>
				<a href=""><img src="../public/assets/images/popeyewear.jpg"  width="288" height="399" alt="img"></a>
			</li>
		</ul>
	</div>
	<div id="body">
		<div id="contents">
			<ul id="articles">
				<li>
					<h1>Manufacturer</h1>
					<p>
						This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.
					</p>
					<a href="" class="more">View All</a>
				</li>
				<li>
					<h1>QC Service</h1>
					<p>
						You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					</p>
					<a href="" class="more">Request</a>
				</li>
				<li>
					<h1>Logistic Service</h1>
					<p>
						If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forums/">Forum</a>.<br><br>
					</p>
					<a href="" class="more">Request</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div class="background">
			<div class="body">
				<div class="subscribe">
					<h3>Get Weekly Newsletter</h3>
					<form action="../views/index.html" method="post">
						<input type="text" value="" class="txtfield">
						<input type="submit" value="" class="button">
					</form>
				</div>
				<div class="posts">
					<h3>Latest Post</h3>
					<p>
						Integer sit amet erat at nulla sodales fermentum vel quis mi. <br> Morbi bibendum <a href="#header">...</a> <span>12/05/2011</span>
					</p>
				</div>
				<div class="connect">
					<h3>Follow Us:</h3>
					<a href="https://www.facebook.com/paul.jin.3950/" target="_blank" class="facebook"></a> <a href="https://twitter.com/pauljin4444/" target="_blank" class="twitter"></a> 
					<!-- <a href="https://www.linkedin.com/home?trk=nav_responsive_tab_home/" target="_blank" class="linkedin"></a> -->
				</div>
			</div>
		</div>
		<span id="footnote"> <a href="../views/index.html">CustomRise</a> &copy; 2016 | All Rights Reserved.</span>
	</div>
</body>
</html>